{erl_opts, [debug_info]}.

{deps, [
    {jsone, "~> 1.5"}
]}.

{shell, [
    {apps, [arkanoid]},
    {cookie, my_cookie}
]}.

{profiles, [
    {main, [
        {shell, [
            {apps, [arkanoid]},
            {cookie, arkanoid_distributed_cookie},
            {name, main},  % Will resolve to main@hostname
            {setcookie, arkanoid_distributed_cookie}
        ]}
    ]},
    {slave1, [
        {shell, [
            {apps, [arkanoid]},
            {cookie, arkanoid_distributed_cookie},
            {name, slave1},  % Will resolve to slave1@hostname
            {setcookie, arkanoid_distributed_cookie}
        ]}
    ]},
    {slave2, [
        {shell, [
            {apps, [arkanoid]},
            {cookie, arkanoid_distributed_cookie},
            {name, slave2},  % Will resolve to slave2@hostname
            {setcookie, arkanoid_distributed_cookie}
        ]}
    ]},
    {slave3, [
        {shell, [
            {apps, [arkanoid]},
            {cookie, arkanoid_distributed_cookie},
            {name, slave3},  % Will resolve to slave3@hostname
            {setcookie, arkanoid_distributed_cookie}
        ]}
    ]},
    {slave4, [
        {shell, [
            {apps, [arkanoid]},
            {cookie, arkanoid_distributed_cookie},
            {name, slave4},  % Will resolve to slave4@hostname
            {setcookie, arkanoid_distributed_cookie}
        ]}
    ]}
]}.